{{ define "modern-nav" }}
    <aside class="lf-global-nav" aria-label="Application navigation">
        <a class="lf-brand" href="/" aria-label="LumenForge dashboard" title="LumenForge dashboard">
            <span class="lf-brand-mark-frame" aria-hidden="true"><img class="lf-brand-mark" src="/static/img/lumenforge-main.png" alt=""></span>
            <span class="lf-brand-name">LumenForge</span>
        </a>
        <button class="lf-global-nav-toggle" type="button" data-lf-global-nav-toggle aria-label="{{ if .Dashboard.SidebarCollapsed }}Expand navigation{{ else }}Collapse navigation{{ end }}" title="{{ if .Dashboard.SidebarCollapsed }}Expand navigation{{ else }}Collapse navigation{{ end }}">
            <span aria-hidden="true">☰</span>
        </button>
        <nav class="lf-global-links">
            <a class="lf-global-link{{ if eq .Page "index" }} lf-global-link-active{{ end }}" href="/" aria-label="Dashboard" title="Dashboard"{{ if eq .Page "index" }} aria-current="page"{{ end }}><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-dashboard.svg" alt=""></span><span class="lf-global-label">Dashboard</span></a>
            {{ if eq .Page "devices" }}
                <button class="lf-global-link lf-global-link-active lf-global-devices-toggle" type="button" data-lf-devices-drawer-toggle aria-controls="lf-device-drawer" aria-expanded="{{ if .Device }}false{{ else }}true{{ end }}" aria-label="Devices" title="Devices" aria-current="page"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-device.svg" alt=""></span><span class="lf-global-label">Devices</span></button>
            {{ else }}
                <a class="lf-global-link" href="/devices" aria-label="Devices" title="Devices"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-device.svg" alt=""></span><span class="lf-global-label">Devices</span></a>
            {{ end }}
            <a class="lf-global-link{{ if eq .Page "rgbCluster" }} lf-global-link-active{{ end }}" href="/rgbCluster" aria-label="RGB Cluster" title="RGB Cluster"{{ if eq .Page "rgbCluster" }} aria-current="page"{{ end }}><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-cluster.svg" alt=""></span><span class="lf-global-label">RGB Cluster</span></a>
            <a class="lf-global-link" href="/temperature" aria-label="Cooling profiles" title="Cooling profiles"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-temperature.svg" alt=""></span><span class="lf-global-label">Cooling profiles</span></a>
            <a class="lf-global-link" href="/lcd" aria-label="LCD" title="LCD"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-lcd.svg" alt=""></span><span class="lf-global-label">LCD</span></a>
            <a class="lf-global-link" href="/macros" aria-label="Macros" title="Macros"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-macro.svg" alt=""></span><span class="lf-global-label">Macros</span></a>
            <a class="lf-global-link" href="/settings" aria-label="Settings" title="Settings"><span class="lf-global-icon-frame"><img class="lf-global-icon" src="/static/img/icons/icon-settings.svg" alt=""></span><span class="lf-global-label">Settings</span></a>
        </nav>
    </aside>
{{ end }}
